include ../partials/landingheader

block content
	div(class="ui authenticate-container")
		div(class="authenticatebox")
			form(class="ui form" action="/forgotpassword" method="POST")
				div(class="header") 
					div(class="ui large header green right floated") Forgot Password
				div(class="horizontal-line")
				div(class="spacetop")
				div(class="field")
					div(class="ui pointing below label") Email *
					input(type="text" name="email")
				button(class="ui green mini button right floated") Forgot Password