include ../partials/header
include ../partials/menu

block content
	div(class="formcontainer")
		div(class="titleheader") 
			div(class="headerlarge floatright") Privacy Policy
		div(class="horizontal-line")
		div(class="spacetop")
		p Privacy policy to come soon.