include ../partials/header
include ../partials/menu

block content
	div(class="smallformcontainer")
		div(class="titleheader") 
			div(class="ui large header green right floated") Privacy Policy
		div(class="horizontal-line")
		div(class="spacetop")
		p Privacy policy to come soon.