include ../partials/header
include ../partials/menu

block content
	div(class="authenticatecontainer")
		form(class="ui form" action="/register" method="POST")
			div(class="titleheader") 
				div(class="headerlarge floatright") Sign Up
			div(class="horizontal-line")
			div(class="spacetop")
			div(class="two fields")
				div(class="field")
					div(class="ui pointing below label") First Name *
					input(type="text" name="firstname" minlength="2" maxlength="20" required)
				div(class="field")
					div(class="ui pointing below label") Last Name *
					input(type="text" name="lastname" minlength="2" maxlength="40" required)
			div(class="formfield")
				div(class="ui pointing below label") Email *
				input(type="email" name="email" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required)
			div(class="formfield")
				div(class="ui pointing below label") Username *
				input(type="text" name="username" minlength="6" maxlength="10" required)
			div(class="formfield")
				div(class="ui pointing below label") Password * 
				input(type="password" name="password" minlength="8" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required)
			div(class="leftrightfloatblock")
				p By clicking the Agree and Sign Up button, you agree to the #[a(href="/termsofservice" class="link") Terms of Service] and #[a(href="/privacypolicy" class="link") Privacy Policy].
				div(class="formfield floatright")
					button(class="bluebuttonsmall") Agree and Sign Up
			a(href="/login" class="skipquiz") [Have account? Log in 
				i(class="arrow alternate circle right large icon") ]
script(src="/javascripts/landing.js" type="text/javascript")