include ../partials/landingheader

block content
	div(class="ui authenticate-container")
		div(class="authenticatebox")
			//- TODO missing action
			form(class="ui form" method="POST")
				div(class="header") 
					div(class="ui large header green right floated") Reset Password
				div(class="horizontal-line")
				div(class="spacetop")
				div(class="field")
					div(class="ui pointing below label")  New Password *
					input(type="password" name="password" )
				div(class="field")
					div(class="ui pointing below label") Confirm Password * 
					input(type="password" name="confirm")
				button(class="ui green mini button right floated") Reset Password