include ../partials/header
include ../partials/menu

block content
	div(class="smallformcontainer")
		form(class="ui form" action="/" method="POST")
			div(class="titleheader") 
				div(class="ui large header green right floated") Reset Password
			div(class="horizontal-line")
			div(class="spacetop")
			div(class="formfield")
				div(class="ui pointing below label")  New Password *
				input(type="password" name="password" )
			div(class="formfield")
				div(class="ui pointing below label") Confirm Password * 
				input(type="password" name="confirm")
			div(class="formfield")
				button(class="ui green mini button right floated") Reset Password
script(src="/javascripts/landing.js" type="text/javascript")