include ../partials/header
include ../partials/menu

block content
	div(class="formcontainer")
		div(class="titleheader") 
			div(class="ui large header green right floated") Terms of Service
		div(class="horizontal-line")
		div(class="spacetop")
		p Terms of Service to come soon.