div(class="spacer")
div(class="footerui")
    div(class="ui container")
        a(href="https://github.com/suecodes" class="link")
            i(class="github icon")
            div(class="icon-next") Github 
script(src="/javascripts/landing.js" type="text/javascript")