div(class="bg")
    div(class="menu") 
      img(src="/images/namethatmovielight.png" width="170" height="49")
    div(class="authenticate")
      a(href="/" class="ui green mini right floated button") Sign up
      a(href="/" class="ui green mini right floated button") Log in