div(class="ui grey top inverted attached menu")
      div(class="menu") 
        div(class="")
        a(href="/")
          img(src="/images/namethatmovielogo.png" width="113.75" height="44.25")
      div(class="right inverted menu")
        div(class="item")
          a(href="/moviequotes")
            i(class="video icon" alt="movie quotes")
        div(class="item")
          a(href="/")
            i(class="puzzle piece icon" alt="Movie Quiz")
        div(class="item")
          a(href="/") 
            i(class="user icon" alt="My Profile")
        div(class="ui right aligned category search item")
          div(class="ui white icon input")
            input(class="prompt" type="text" placeholder="Search")
            i(class="search link icon")