div(class="ui red top inverted attached menu")
  div(class="menu") 
    a(href="/")
      img(src="/images/namethatmovielogo.png" width="170" height="49")
  div(class="right inverted menu")
    if !currentuser
      div(class="item")
        a(href="/login") Sign In
      div(class="item")
        a(href="/register") Sign Up
    else
      div(class="item")
        a(href="#") Signed in as #{currentuser.username}
      div(class="item")
        a(href="/logout") Log Out
    div(class="ui right aligned category search item")
      div(class="ui white icon input")
        input(class="prompt" type="text" placeholder="Search")
        i(class="search link icon")
div(class="ui container")