div(class="ui red top inverted attached menu")
  div(class="menu") 
    a(href="/")
      img(src="/images/namethatmovielogo.png" width="170" height="49")
  div(class="right inverted menu")
    div(class="item")
      a(href="/login") Sign In
    div(class="item")
      a(href="/register") Sign Up
    div(class="item")
      a(href="/logout") Log Out
    div(class="ui right aligned category search item")
      div(class="ui white icon input")
        input(class="prompt" type="text" placeholder="Search")
        i(class="search link icon")
div(class="ui container")
  div(class="likefavoriteblock")
    div(class="leftlike")
    div(class="rightfavorite")
        h4 Welcome #{currentuser.username}