div(class="ui top attached menu")
      div(class="menu") Name That Movie
      div(class="right menu")
        div(class="ui right aligned category search item")
          div(class="ui transparent icon input")
            input(class="prompt" type="text" placeholder="Search")
            i(class="search link icon")