//- Hamburger menu 
nav(class="topMenu" id="topMenuNav")
	a(href="/") 
		img(src="/images/icons8-clapperboard-whitetrans-50.png" width="25" height="25")
		div(class="icon-next logo")  Name That Movie
	if !currentuser
		a(href="/login" class="menuItem")
			h5 Sign In
		a(href="/register" class="menuItem")
			h5 Sign Up
	else 
		a(href="/logout" class="menuItem")
			h5 Log Out
		a(href="#" class="menuItem")
			h5 Signed in as #{currentuser.firstname} #{currentuser.lastname} 
	a(href="javascript:void(0);" class="menuIcon" onclick="openCloseMenu();")
		i(class="fa fa-bars")
include ../partials/message				
//-div(class="ui container")





