//- Has search function in this menu
div(class="ui red top inverted attached menu")
	div(class="menu") 
		a(href="/")
			img(src="/images/namethatmovielogo.png" width="170" height="49")
	div(class="right inverted menu")
		if !currentuser
			div(class="item")
				a(href="/login") Sign In
			div(class="item")
				a(href="/register") Sign Up
		else
			div(class="item")
				//- Future functionality - to display user profile page
				a(href="#") Signed in as #{currentuser.firstname} #{currentuser.lastname}
			div(class="item")
				a(href="/logout") Log Out
		div(class="ui right aligned category search item")
			form(class="ui form" action="/searchresult" method="POST")
				div(class="ui icon input")
					a(href="/search")
					input(type="text" name="searchcriteria" placeholder="Search")
					a(href="/search")
					i(class="inverted circular search icon green link")
div(class="ui container")