
include partials/header

block content
  div(class="container")
    //- Quote 
    div(class="movie-quote default-left-grey") "When you realize you want to spend the rest of your life with somebody, you want the rest of your life to start as soon as possible."
    
    //- Format: Movie name, year made - writer (hidden by default)
    div(class="movie-name-year default-left-grey" style="visibility:hidden") When Harry Met Sally, 1989 - Nora Ephron

    //- Receive user input (display by default)
    div(class="movie-user-answer" style="display:block" id="userinput")
      div(class="ui input" id="movie-input")
        input(id="user-guess" type="text" name="movie" placeholder="Name that movie")
      form(class="check-user-answer" action="/")
        button(type="button" onclick="checkMovieQuote();" class="ui primary button") Am I right?

    //- Display answer and next steps (hidden by default)
    div(class="movie-user-answer" style="display:none" id="right-answer-block")
      p(id="message") Correct! Guess another movie or view movie quotes?
      form(class="check-user-answer" action="/")
        input(type="submit" value="Guess Again" class="ui primary button")
      form(class="check-user-answer" action="/moviequotes")
        input(type="submit" value="View Movie Quotes" class="ui primary button")
    
    div(class="wrong-answer" style="display:none" id="wrong-answer-block")
      p(id="message") Wrong! Try again or get answer.
      form(class="check-user-answer" action="/")
        input(type="submit" value="Guess Again" class="ui primary button")
      form(class="check-user-answer" action="/moviequotes")
        input(type="submit" value="Get Answer" class="ui primary button")

//- Add js script files  
script(src="/javascripts/landing.js")