include partials/header

block content
  div(class="ui landing-container")
    //- Quote 
    div(class="movie-quote default-grey") #{result.moviequote}
    
    //- Format: Movie name, year made - writer (hidden by default)
    div(id="movie-name" class="movie-name-year default-grey" style="visibility:hidden") #{result.moviename}, #{result.year} - #{result.screenwriter}

    //- Receive user input (display by default)
    div(class="movie-user-answer" style="display:block" id="userinput")
      div(class="ui input" id="movie-input")
        input(id="user-guess" type="text" name="movie" placeholder="Name that movie")
      form(class="check-user-answer" action="/")
        button(type="button" onclick="checkMovieQuote('" + result.moviename + "');" class="ui primary button") Am I right?

    //- Display right answer block and next steps (hidden by default)
    div(class="movie-user-answer" style="display:none" id="right-answer-block")
      p(id="message") Correct! Guess another movie or view movie quotes?
      //-form(class="check-user-answer" action="/")
        input(type="submit" value="Guess Again" class="ui primary button")
      //-form(class="check-user-answer" action="/moviequotes")
        input(type="submit" value="View Movie Quotes" class="ui primary button")
      a(href="/" class="ui primary button") Guess Another
      a(href="/moviequotes" class="ui primary button") View Movie Quotes
    
    //- Display wrong answer block (hidden by default)
    div(class="movie-user-answer" style="display:none" id="wrong-answer-block")
      p(id="message") Wrong! Try again or get answer.
      //- form(class="ui form" action="/moviequotes" method="POST")
      a(href="/" class="ui primary button") Guess Again
      //- form(class="check-user-answer" action="/" method="POST")
        input(type="submit" value="Guess Again" class="ui primary button")
      form(class="check-user-answer" action="/")
        button(type="button" onclick="displayAnswer();" class="ui primary button") Get Answer
 
//- Add js script files  
script(src="/javascripts/landing.js")