/* mobile layout */
@media only screen and (max-device-width: 480px) {
    .gridcontainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
      grid-gap: 15px;
      grid-auto-flow: dense;
      place-items: stretch stretch;
      justify-content: space-between;
    }
  
    .moviequotecoll {
      font: 5em 'Habibi', serif !important;
    }
  }