/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	/* ---------------------- */
	/* Form controls - mobile */
	/* ---------------------- */

	.formcontainer {
		padding-top: 5vh;
		margin-left: 10px;
		margin-right: 10px;
	}

	.formfield {
		color: var(--white);
		margin: 0 auto;
		width: auto;
	}

	/* TODO - check below */

	/* ---------------------- */
	/* Landing page - mobile */
	/* ---------------------- */
	.landing-container {
		padding-top: 5vh;
		color: var(--white);
		display: block;
		text-align: center;
		margin: 0 auto;
		height: 320px;
	}

	.quoteblock {
		display: block;
		margin: auto;
		width: 80%;
	}

	.movie-container {
		margin-left: 5em;
		margin-right: 5em;
	}

	/* Quote text sizes */
	.moviequotesmall {
		font: 1.2em 'Habibi', serif;
		line-height: 1.4em;
	}

	.moviequotemedium {
		font: 2.3em 'Habibi', serif;
		line-height: 1.3em;
	}

	.moviequotelarge {
		font: 3em 'Habibi', serif;
		line-height: 1.3em;
	}

	.quoteblock {
		display: block;
		margin-bottom: 20px;
	}

	.movie-user-guess {
		position: relative;
		display: block;
	}

	.moviename {
		width: 250px;
		margin: 5px !important;
	}

	/* show */
	.showfield {
		margin: 3px;
	}

	.resultfield {
		width: 95%;
	}

	.icon-next {
		display: block;
	}

	/* Hamburger menu */
	.menuItem {
		float: left;
	}

	.topMenu a:not(:first-child) {
		display: none;
	}

	.topMenu a.menuIcon {
		float: right;
		display: block;
	}

	.topMenu.responsive {
		position: relative;
	}

	.topMenu.responsive a.menuIcon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topMenu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	.moviename {
		width: 250px;
		margin: 5px !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}