body {
  margin: 0px;
  padding: 0px;
}

#movie-input {
  width: 500px;
}

.quote {
  font-size: 60pt;
  line-height: 1em;
  margin: 1.0em;
  text-align: left;
}

.movie-name {
  z-index: 1;
  position: relative;
  text-align: center;
}

.amIrightbutton {
  display: inline;
  margin: 15px;
}