/* Master css stylesheet */

:root {
  --white: #ffffff;
  --black: #000000;
  --darkestgrey: #1B2631;
  --darkgrey: #4D5656;
  --grey: #717D7E;
  --lightgrey: #AAB7B8;
  --lightestgrey: #EAEDED;
  --lightestpink: #F9EBEA;
  --lightpink: #F2D7D5;
  --softpink: #E6B0AA;
  --pink: #E6B0AA;
  --darkpink: #D98880;
  --darkestpink: #CD6155;
  --pinkred: #C0392B;
  --reddish: #A93226;
  --deepred: #922B21;
  --darkestred: #641E16;
  --primaryred: #7B241C;
  --palestgreen: #E8F6F3;
  --palegreen: #A2D9CE;
  --greenish: #45B39D;
  --darkgreen: #138D75;
  --darkestgreen: #0E6655;
}

/* ---------------- */
/* Site wide styles */
/* ---------------- */
/* body {
  margin: 0;
  padding: 0px;
  height: 100%;
} */

.titleheader {
  height: 40px;
}

.link {
  color: var(--darkgreen) !important;
}

.horizontal-line {
  border-color: var(--darkgrey);
  border-top-style: solid;
  border-width: 1px;
  margin: 20px 0;
}

.icon-next {
  display: inline;
}

.leftrightfloatblock {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.leftfloat {
  display: flex;
  justify-content: flex-start;
}

.rightfloat {
  display: inline;
  justify-content: flex-end;
}

.default-grey {
  color: var(--darkgrey);
}

.errormessagebox {
  display: flex;
  padding: 5px;
  background-color: var(--pinkred);
  justify-content: center;
  vertical-align: middle;
}

.successmessagebox {
  display: flex;
  padding: 5px;
  background-color: var(--palegreen);
  justify-content: center;
  vertical-align: middle;
}

.quizmessage {
  font: 1.2em 'Open Sans', serif;
  color: var(--white);
  padding: 5px;
}

.hidemessage {
  display: none;
}

.statistics {
  text-align: center;
  padding: 15px 0;
  font-size: 40px;
  line-height: 20px;
  font-weight: 150;
  color: var(--darkgreen);
  margin-top: 20px;
}

.statsticssubheading {
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  color: var(--lightgrey);
  margin-bottom: 50px;
  margin-top: 10px;
}

.blurbheader {
  font-size: 30px;
  line-height: 20px;
  font-weight: 150;
}

.blurb {
  font-size: 16px;
  line-height: 27px;
  font-weight: 70;
  padding: 15px 0;
  margin-bottom: 5px;
}

.landingicons {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.moviequotesmall {
  font: 2.7em 'Habibi', serif;
  line-height: 1.2em;
  padding: 5px;
}

.moviequotemedium {
  font: 3.7em 'Habibi', serif;
  line-height: 1.2em;
}

.moviequotelarge {
  font: 5em 'Habibi', serif;
  line-height: 1.2em;
}

.spacer {
  margin: 5px 0;
}

.spacetop {
  margin-top: 10px;
}

/* -------------- */
/* Form controls  */
/* -------------- */

.formcontainer {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
  width: 50%;
  justify-content: center;
}

.formfield {
  padding: 5px;
}

/* -------------------------------------------------------- */
/* Landing / login / register / forgot password page styles */
/* -------------------------------------------------------- */

#bg {
  /* height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: var(--pinkred); */
  display: block;
  width: 100%;
  background-color: var(--lightgrey);
  /*background-image: url("https://images.unsplash.com/photo-1507990178188-0118b242deda?ixlib=rb-1.2.1&auto=format&fit=crop&w=1391&q=80");
  transition: all 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);*/
}

.logo {
  color: var(--white);
  font-size: 1.1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.logo a:hover {
  color: var(--white) !important;
}

.block {
  display: block;
  margin-top: 15vh;
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
}

.flexcontainer {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.flexstretch {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  align-items: stretch;
}

.flexitem {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.skipquiz {
  margin: 40px 0;
  color: var(--darkgrey);
  font-size: 0.7rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#moviequote {
  margin-top: 50px;
  color: var(--white);
  display: inline-block;
  vertical-align: middle;
  height: 175px;
  -webkit-backface-visibility: hidden;
}

#usermessage {
  height: 50px;
}

.movie-name-year {
  font-size: 1.5em;
  line-height: 1.2em;
}



/* ----------------------------------------------------- */
/* Movie quotes - new/show/search page styles */
/* ----------------------------------------------------- */
.movie-container {
  z-index: 1;
  position: relative;
  text-align: left;
  margin-left: 15em;
  margin-right: 15em;
  padding-top: 3vh;
  text-align: left;
}

/* ----------------- */
/* index page styles */
/* ----------------- */
.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  grid-auto-flow: dense;
  place-items: stretch stretch;
  justify-content: space-between;
  margin-top: 10px;
}

.griditem {
  margin-bottom: 10px;
}

.quoteitem {
  border-color: var(--darkgrey);
  border-top-style: solid;
  border-width: 1px;
  position: relative;
  padding-bottom: 50px;
}

.movie-year {
  font-weight: bold;
}

.moreinfo {
  float: right;
  color: var(--darkgreen);
}

.commentblock {
  display: flex;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.floatcomment {
  position: absolute;
  right: 0;
}

/* ---------------- */
/* show page styles */
/* ---------------- */
.itemMovieQuote {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.movie-screenwriter {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.2em;
}

.showfield {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
}

#buttonhidden {
  border: 0;
  background: none;
  margin: 0;
  left: 0;
}

.submitblock {
  padding-bottom: 10px;
}

.flexcomments {
  display: grid;
  grid-template-columns: 50px 60px auto;
  grid-gap: 10px;
  margin-top: 15px;
  justify-content: left;
  vertical-align: bottom;
}

.commentfield {
  margin: 15px 0;
  color: var(--darkgrey);
}

.text {
  margin-bottom: 15px;
}

/* .flexcomments>* {
  flex: 1;
  margin-bottom: 20px;
  border: 1px solid red;
} */

/* ------------------ */
/* Search page styles */
/* ------------------ */
;

.resultfield {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 10px 0;
  align-items: left;
}

/* -------------------------- */
/* footer partial page styles */
/* -------------------------- */

.footerui {
  background-color: var(--palestgreen);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerui a {
  float: left;
  display: block;
  color: var(--darkgrey);
  text-align: center;
  padding: 14px 16px;
}

/* ----------------
/* menu
/* -----------------

/* Add a background color to the top navigation */
.topMenu {
  background-color: var(--greenish);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topMenu a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 8px 16px;
}

.topMenu .menuItem {
  float: right;
}

/* Change the color of links on hover */
.topMenu a:hover {
  color: var(--darkestgreen);
}

/* Add an active class to highlight the current page */
/* .active {
  background-color: var(--lightestpink);
  color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
.topMenu .menuIcon {
  display: none;
}