include ../partials/header
include ../partials/menu

block content
    script.
        $(document).ready(function(){
            
            //- Populate year array with all years btw 1900 and current year
            var resultsArray = [];
            const min = 1900;
            const max = new Date().getFullYear();
            for(i = min; i <= max; i++) {
                resultsArray.push(i);
            }
            // Load year dropdown with year array
            $.each(resultsArray, function (i, item) {
                $('.dropmenu').append($('<option>', {
                    value: item,
                    text: item,
                    class: "item"
                }))
            });
            
            $('.ui.dropdown') .dropdown();
            
            $('form').form({
            on: 'blur',
                fields: {
                    dropdown: {
                        identifier: 'dropdown',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please select a year value'
                        }]
                    }
                }
            });
        });

    div(class="new-container")
        div(class="ui huge header") New Movie Quote
        div(class="horizontal-line")
        form(class="ui form" action="/moviequotes" method="POST")
            div(class="two fields")
                div(class="field")
                    div(class="ui pointing below label") Enter the movie name *
                    input(type="text" name="moviename" required)
                div(class="field")
                    div(class="ui pointing below label") Enter the year movie was made * 
                    select(class="ui dropdown dropmenu" name="movieyear") 
                        div(class="default text") Year
            div(class="field")
                div(class="ui pointing below label") Enter the movie quote *
                textarea(rows="2" name="moviequote" required)
            div(class="field")
                div(class="ui pointing below label") Enter the screenwriters name (separate with comma if multiple) *
                input(type="text" name="screenwriter" required)
            input(class="ui red basic button" type="submit")
        div(class="horizontal-line")