include ../partials/header
include ../partials/menu

block content
    script.
        $(document).ready(function(){
            $('.ui.dropdown') .dropdown();
        });
        $('form').form({
            on: 'blur',
            fields: {
                dropdown: {
                    identifier: 'yeardropdown',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please select a year value'
                    }]
                }
            }
        });
    div(class="new-container")
        div(class="ui huge header") New Movie Quote
        div(class="horizontal-line")
        form(class="ui form" action="/moviequotes" method="POST")
            div(class="two fields")
                div(class="field")
                    div(class="ui pointing below label") Enter the movie name *
                    input(type="text" name="moviename" required)
                div(class="field")
                    div(class="ui pointing below label") Enter the year movie was made * 
                    div(class="ui compact selection dropdown" name="yeardropdown")
                        input(type="hidden" name="year" required)
                        i(class="dropdown icon")
                        div(class="menu")
                            div(class="item" data-value="1") 1991
                            div(class="item" data-value="2") 1992
                    //- input(class="ui input" type="text" name="movieyear" required)
            div(class="field")
                div(class="ui pointing below label") Enter the movie quote *
                textarea(rows="2" name="moviequote" required)
            div(class="field")
                div(class="ui pointing below label") Enter the screenwriters name (separate with comma if multiple) *
                input(type="text" name="screenwriter" required)
            //- div(class="field")
                div(class="ui pointing below label") Enter the movie image URL (optional)
                input(type="text" name="movieimage")
            input(class="ui red basic button" type="submit")
        div(class="horizontal-line")