include ../partials/header
include ../partials/menu

block content
    div(class="ui container")
        form(class="ui form" action="/search" method="POST")
            div Search Results
                if moviequotes
                    each moviequote in moviequotes
                            p #{moviequote.moviename}
                            p #{moviequote.moviequote}
                            p #{moviequote.year}
                            p #{moviequote.screenwriter}